<a href="https://colab.research.google.com/github/fwang312/Data-Structures-and-Algorithms/blob/master/1_Basic_data_types.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Number

### Print the data type

In [1]:
a = 2
print(type(a))

<class 'int'>

In [2]:
b = 2.5
print(type(b))

<class 'float'>

Basically, you are declaring two variables (named a and b) which will hold some numbers; variable a is an integer number <type 'int'> and variable b is a real number <type 'float'>.

### Basic Operation

In [3]:
a = 2
b = 2.5
print(a+b)

4.5

In [4]:
print((a+b)*2)

9.0

### Challenge 1.1: Mathematical Calculations

### Given a MathOp() function, try the following mathematical calculations and print the output:

In [5]:
def MathOp():
  classic_division=3/2
  floor_division=3//2
  modulus=3%2
  power=3**2
  return[classic_division, floor_division, modulus, power]

[classic_division, floor_division, modulus, power] = MathOp()
print(classic_division)
print(floor_division)
print(modulus)
print(power)

1.5
1
1
9

* / Division: Divide the number on the left with the number on the right

* // Floor_Divison：Divide and return the integer of the quotient.

* % Modulus: Divide and return the integer of the remainder.

* ** Exponentiation: Raise the first numher to the power of the second.

### Challenge 1.2: Check Parity of a Number

### Given a checkParity(n) function, write code to determine if a given number n is even or odd.

In [6]:
def checkParity(n):
  result = (n%2)
  return result

print("Odd Parity",checkParity(17))
print('Even Parity',checkParity(16))

Odd Parity 1
Even Parity 0

all even numbers result in a remainder of 0 and all odd numbers produce a remainder of 1.

### Challenge 1.3: Find Values Within a Range

### Given an inRange(x,y) function, write a method that determines whether a given pair (x, y) falls in the range (x < 1/3 < y). Essentially, you’ll be implementing the body of a function that takes in two numbers x and y and returns True if x < 1/3 < y; otherwise, it returns False.

In [7]:
def inRange(x,y):
  return(x<1/3<y)

print(inRange(-1,3))
print(inRange(2,3))

True
False

## String

### Initial a string

In [8]:
# Double Quote
hi = "hello"
print(hi)

hello

In [9]:
# Single Qutoe
bye = 'Bye'
print('bye')

bye

## String Concatenation

In [10]:
hi = 'Hello'
hi += 'World'
print(hi)

HelloWorld

But in this case they must have the same data types

In [11]:
print('Hello' * 3)

HelloHelloHello

### Challenge 1.4: String Transformation

### Given a getStr() function, write the necessary sequence of operations to transform the string (containing three literals) in such a way that every literal is tripled​ respectively.

In [12]:
def getStr(s):
  s = s[:1] + s[0] + s[1:]
  s = s[:1] + s[0] + s[1:]
  s = s[:3] + s[3] + s[3:]
  s = s[:3] + s[3] + s[3:]
  s = s[:6] + s[6] + s[6:]

  #Update the len of the stirngs
  strlen = len(s)
  return [s,strlen]

print(getStr("okc"))

['oookkkcc', 8]